* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container {
    width: 70%;
    margin: 0 15% 0 15%;
    display: grid;
    border: 1px solid black;
    margin-top: 0%;
    /* margin: 2%; */
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0px 460px 400px 250px 60px;
    grid-template-areas:
        'topo topo'
        'parte1 parte1'
        'parte2 parte3'
        'parte4 parte4'
        'parte5 parte5'
    ;

}

.containerp2 {
    width: 70%;
    margin: 0 15% 0 15%;
    display: grid;
    margin-top: 0%;
    /* margin: 2%; */
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0px 460px 100px 150px 1fr 60px 70px;
    grid-template-areas:
        'topo topo topo'
        'parte1 parte1 parte1'
        'p p p'
        's1 s2 s3'
        'd1 d2 d3'
        'contato contato contato'
        'footerp2 footerp2 footerp2'
    ;
}


.logo {

    background-color: orange;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px 10px 10px 10px;


}

.topo {
    width: 52%;
    margin-top: 40px;
    /* grid-area: topo; */
    /* justify-content: space-around; */

}

.parte1 {
    background-image: url(/img/topo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* border: 2px solid black; */
    grid-area: parte1;


}

img {
    background-image: image-set();
    width: 100%;
    height: 100%;
    /*opacity: 1 ;*/
}


.parte2 {
    display: flex;
    /*  border: 2px solid black; */
    grid-area: parte2;
    text-align: justify;
    font-size: 100%;
    margin: 0 40px 0 40px;

    align-content: center;
    align-items: center;
    flex-wrap: wrap;

}

h2 {
    font-size: 250%;
}

.parte3 {
    /* border: 2px solid black; */
    grid-area: parte3;


}


.parte4 {
    display: flex;
    /*  border: 2px solid black; */
    grid-area: parte4;
    font-size: 25px;
    justify-content: space-around;
    align-items: center;

}

.parte5 {
    display: flex;
    /* border: 2px solid black; */
    grid-area: parte5;
    text-align: center;
    font-size: 25px;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;

}


/* INFORMAÇÕES DA PÁGINA 2 */



/* .logo {
    background-color: orange;
    color: white;
    width: 150px;
    height: 50px;

    border-radius: 10px 10px 10px 10px;
    font-size: 25px;

} */

.topo {
    display: flex;

    grid-area: topo;
    font-size: 25px;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;

}

/* .parte1 {

    grid-area: parte1;

} */

.planos {

    margin: 0;
    grid-area: p;
    text-align: center;
    height: 460px;
    background-color: rgba(128, 128, 128, 0.151);

}

.flex {
    background-image: url(../img/Flex.jpg);
    background-size: cover;
    margin-left: 50px;
    width: 300px;
    height: 150px;
    grid-area: s1;

}

.plus {
    background-image: url(../img/Plus.jpg);
    background-size: cover;
    margin: auto;
    width: 300px;
    height: 150px;
    grid-area: s2;

}

.pro {
    margin: 0 10px 0 10px;
    background-image: url(../img/pro.jpg);
    background-size: cover;
    margin: 0 auto;
    width: 300px;
    height: 150px;
    grid-area: s3;


}

.d1 {


    background-color: rgba(128, 128, 128, 0.473);

    margin-left: 50px;
    padding: 20px;
    width: 300px;
    height: 200px;

    grid-area: d1;

}

.d2 {


    background-color: rgba(128, 128, 128, 0.473);

    margin: 0 auto 0 auto;
    padding: 20px;
    width: 300px;
    height: 200px;


    grid-area: d2;

}

.d3 {

    background-color: rgba(128, 128, 128, 0.473);

    margin: 0 auto 0 auto;
    padding: 20px;
    width: 300px;
    height: 200px;

    grid-area: d3;

}

.orange {
    color: rgb(255, 81, 0);
}

button {
    border: 1px solid rgb(255, 81, 0);
    background-color: rgb(255, 81, 0);
    color: white;
    width: 200px;
    height: 30px;
    font-size: medium;
    border-radius: 5px;

}

.contato {
    display: flex;
    grid-area: contato;
    font-size: 25px;
    justify-content: space-around;
    align-items: center;

}

.footerp2 {
    display: flex;
    grid-area: footerp2;
    text-align: center;
    font-size: 25px;
    justify-content: space-around;
    padding: 10px 10px 10px 10px;

}

/* INFORMAÇÕES DA PÁGINA 3 */

.containerp3 {

    border: 0.5px solid black;
    display: grid;
    height: 1100px;
    ;
    width: 1100px;
    align-content: center;
    align-items: center;
    align-self: center;
    row-gap: 20px;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:

        'h h'
        'm for'
        'fo fo'
    ;
}

.cabecalho-menu {
    position: fixed;
}

/* header{
 
    width: 1100px;
    grid-area:h;
    border: 0.5px solid black;
    background-color: red;
} */

.mapouter {

    grid-area: m;

    width: 300px;
    height: 200px;

}

.form {

    width: 500px;
    height: 400px;

    grid-area: for;
}

.footerp3 {

    width: 600px;
    height: 140px;

    grid-area: fo;
}


input[type=submit] {
    border: 1px solid rgb(255, 81, 0);
    background-color: rgb(255, 81, 0);
    color: white;
    width: 150px;
    height: 30px;
    font-size: medium;
    border-radius: 10px;

}

input[type=text] {

    color: white;
    width: 150px;
    height: 30px;
    font-size: medium;
    border-radius: 10px;
    text-align: top;

}

@media (max-width: 1000px) and (min-width: 600px) {
    .container {
        width: 70%;
        margin: 0 15% 0 15%;
        display: grid;
        border: 1px solid black;
        margin-top: 2%;
        /* margin: 2%; */
        min-height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0px 500px 440px 290px 60px;
        grid-template-areas:
            'topo topo'
            'parte1 parte1'
            'parte2 parte3'
            'parte4 parte4'
            'parte5 parte5'
        ;
    }

    .topo {
        width: 52%;
        margin-top: 40px;
        grid-area: topo;
        /* justify-content: space-around; */

    }

    .logo {

        background-color: orange;
        color: white;
        width: 100%;
        height: 45px;
        font-size: auto;
        border-radius: 10px 10px 10px 10px;


    }

    a {
        font-size: 60%;
    }

}


@media (max-width: 599px) and (min-width: 370px) {

    .container {
        flex-direction: column;
        max-width: 400px;
        margin: 0 15% 0 15%;
        display: flex;
        border: 1px solid black;
        margin-top: 2%;
        /* margin: 2%; */
        min-height: 100vh;
        /*        grid-template-columns: 100%;
            grid-template-rows: 0px 500px 440px 290px 60px;
            grid-template-areas:
                'topo '
                'parte1'
                'parte2'
                'parte3'
                'parte4'
                'parte5'
            ; */
    }

    .parte1 {
        height: 350px;
        background-image: url(/img/topo.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        /* border: 2px solid black; */
        grid-area: parte1;


    }

    .topo {
        width: 49%;
        margin-top: 40px;

        /*  grid-area: topo; */
        /* justify-content: space-around; */

    }

    .logo {
      margin-left: 6px;
        background-color: orange;
        color: white;
        width: 75%;
        height: 45px;
        font-size: 32%;
        border-radius: 10px 10px 10px 10px;
        list-style: auto;

    }

    a {
        font-size: 40%;
    }

    .parte4 {
        display: flex;
        grid-area: parte4;
        font-size: 20px;
        justify-content: space-around;
        align-items: center;

    }





}